.pageHeader{
	display: flex;
	min-height: 50vh;
	align-items: center;
	justify-content: center;
}

.anotherDiv{
	display: flex;
	min-height: 400px;
	align-items: center;
	justify-content:center;
	background: url('../../assets/images/stern2.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	background-position: 50% 50%;
}

.filter{
	width: 100%;
  height: 100%;
  display: block;
  content: "";
  z-index: 3;
  opacity: .6;
  background: #333;
}

.pageHeader:before{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: block;
	background: url('../../assets/images/wsp.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	background-position: 50% 50%;
	filter: brightness(30%);
	content: "";
	z-index: -1;
}


.title-modern {
	display: flex;
	justify-content: center;
  font-family: Poppins,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 70px;
  font-weight: 400;
  color: #EEE;
  text-shadow: 2px 2px #333;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  line-height: 1em;
  font-style: normal;
  z-index: 100;
  
}

.test{
	min-height: 300px;
	background-color: white;

}

.objectives{
	display: flex;
	flex-wrap: wrap;
}

.obj-col{
	display: flex;
	flex-direction: column;
	width: 40vw;
}

.obj-col-info{
	display: flex;
	padding-top: 5px;
	padding-bottom: 5px;
	align-items: center;
	justify-content: flex-start;
}

.left{
	margin-right: 6vw;
}

.icon img{
	padding: 10px;
	width: 80px;
	/*height: 100%;*/
}

#box {
	width: 400px;
	height: 450px;
	margin: 30px auto;
	background: #fff;
	overflow: scroll;
	font-weight: 300;
	border: 1px solid rgba(0,0,0,0.25);
	box-shadow: 0 2px 6px rgba(0,0,0,.2);
	border-radius: 3px;
	position: relative;
	line-height: 130%;
}

#box img{
	width: 100%;
	position: absolute;
	top: 0;
	background-position: 0px -20px;
}

#box div{
	margin-top: 250px;
	padding: 20px;
	background: #f0f0f0;
	position: relative;
}

.welcomeWrapper {
	display: flex;
	flex-direction: row;
}

.muWrapper {
	padding-top: 0px;
}

.paddingBottom {
	padding-bottom: 40px;
}

.whiteBackground {
	background-color: white !important;
}

.fourWidth{
	width: 18vw;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}
.small-icon{
	width: 30px;
	margin-right: 10px;
}

.benefitHeader{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.addPadding {
	padding-bottom: 10px;
}

.smallFont{
	font-size: 13px !important;
}
@media (max-width: 768px){
	.objectives{
		flex-direction: column;
	}
	.obj-col{
		width: 100%;
	}
	.fourWidth{
		width: 100%;
	}
}


