<!-- <div class="parallax half">
    <div #bgDiv1 class="bgDiv half" >
        <img class="half-img" src="../../assets/images/stern.jpg" [style.bottom]="bottom1">
    </div>
    <div class="text">
            ABOUT
    </div>
</div> -->
<div class="grayWrapper">
    <div class="header">About Beta Alpha Psi :)</div>
    <div class="divider"></div>
    <div class="info">
        We are a national honorary accounting, finance, and information systems society for students who have proven academic excellence in the study of business. There are currently 296 Beta Alpha Psi Chapters on college and university campuses with over 300,000 members initiated. Beta Alpha Psi's purpose is to prepare business students to participate in the professional business environment by providing exposure to current accounting and financial issues, technical applications, and professional and social activities. Our goal is to provide for our members the most up-to-date information in the various areas affecting their career. Obtaining such knowledge makes our members more marketable and valuable in the business world.
    </div>
</div>
<div class="whiteWrapper">
    <div class="header ">
        About the Mu Chapter
    </div>
    <div class="divider"></div>
    <div class="threeCols">
        <div class="leftCol">
            <div><img class="photo" src="../../assets/images/purpose.png"></div>
            <div class="header2 center">Our PURPOSE</div>
            <div class="info2">
               The purpose of the organization is to prepare students to succeed in the professional business environment by providing exposure to key issues in accounting, finance, and information systems. Our members and candidates are provided with the opportunity to mingle with top executives of many firms in a variety of industries as well as to partake in fun and rewarding community service and social activities!
            </div>
        </div>
        <div class="leftCol">
            <div><img class="photo" src="../../assets/images/goal.png"></div>
            <div class="header2 center">Our GOAL</div>
            <div class="info2">
                The Mu Chapter's goal is to provide the most current information for our members and candidates with respect to the relevant forces shaping their careers. Obtaining such knowledge makes our members and pledges more marketable and ultimately, a greater value-add to the business world.
            </div>
        </div>
        <div class="rightCol">
            <div><img class="photo" src="../../assets/images/ourCommunity.jpg"></div>
            <div class="header2 center">Our COMMUNITY</div>
            <div class="info2">
                The Mu Chapter of Beta Alpha Psi encourages a sense of ethical, moral, and public responsibility. In recognition of the value and rewards of giving back to the community, we are involved in a number of service initiatives.  Complementing these professional activities are our Social Events, which include billiards, laser tag, karaoke, and much more!  
            </div>
        </div>
    </div>
</div>
<div class="grayWrapper">
    <div class="header ">
        Objectives
    </div>
    <div class="divider"></div>
    <div class="objectives">
        <div class="obj-col left">
            <div class="obj-col-info">
                <div class="icon">
                    <img src="../../assets/images/star.svg">
                </div>
                <div>
                    Recognize scholastic and professional excellence in the fields of accounting, finance, and information system.
                </div>
            </div>
            <div class="obj-col-info">
                <div class="icon">
                    <img class="photo-icon" src="../../assets/images/forum.svg">
                </div>
                <div>
                    Provide a forum in which students interested in business may interact with, learn more about, and create networks with working professionals.
                </div>
            </div>
            <div class="obj-col-info">
                <div class="icon">
                    <img class="photo-icon" src="../../assets/images/link.svg">
                </div>
                <div>
                    Promote leadership, integrity, continuous learning, and service through a variety of rewarding professional, social, and community activities.
                </div>
            </div>
        </div>
        <div class="obj-col">
            <div class="obj-col-info">
                <div class="icon">
                    <img src="../../assets/images/user.svg">
                </div>
                <div>
                    Recognize individuals whose time and efforts contribute significantly to promoting the honors society.
                </div>
            </div>
            <div class="obj-col-info">
                <div class="icon">
                    <img class="photo-icon" src="../../assets/images/connection.svg">
                </div>
                <div>
                    Create a society among our members to enhance social, as well as academic ideals.
                </div>
            </div>
            <div class="obj-col-info">
                <div class="icon">
                    <img class="photo-icon" src="../../assets/images/community.svg">
                </div>
                <div>
                    Service the student body, the University, and the greater community.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="whiteWrapper noPaddingBottom">
    <div class="header ">
        Benefits of Joining Beta Alpha Psi
    </div>
    <div class="divider"></div>
</div>
<div class="graySection whiteBackground noPaddingTop">
    <div class="fourWidth">
        <div class="benefitHeader addPadding">
            <img class="small-icon" src="../../assets/images/career.svg">
            <div class="header2">Career Opportunities</div>
        </div>
        <div class="header3 smallFont">Discover and pursue career opportunities in the fields of accounting, finance, and information systems by attending the Society's comprehensive series of Professional Presentations.</div>
    </div>
    <div class="fourWidth">
        <div class="benefitHeader addPadding">
            <img class="small-icon" src="../../assets/images/professional.svg">
            <div class="header2">Meet Professionals</div>
        </div>
        <div class="header3 smallFont">Meet and network with professionals and recruiters from leading professional services firms at our Corporate Mingles and Candidate Initiation Banquets.</div>
    </div>
    <div class="fourWidth">
        <div class="benefitHeader addPadding">
            <img class="small-icon" src="../../assets/images/resume.svg">
            <div class="header2">Resume Preparation</div>
        </div>
        <div class="header3 smallFont">Learn how to effectively prepare your resumes and cover letters. Build confidence and improve interpersonal communication skills.</div>
    </div>
    <div class="fourWidth">
        <div class="benefitHeader addPadding">
            <img class="small-icon" src="../../assets/images/alumni.svg">
            <div class="header2">Alumni Network</div>
        </div>
        <div class="header3 smallFont">Learn more about summer internships, job experiences, and get advice from fellow Members and Alumni of Beta Alpha Psi.</div>
    </div>
    <div class="fourWidth">
        <div class="benefitHeader addPadding">
            <img class="small-icon" src="../../assets/images/access.svg">
            <div class="header2">Exclusive Access</div>
        </div>
        <div class="header3 smallFont">Members and Candidates are eligible to participate in our exclusive resume collections for internship and full-time opportunities.</div>
    </div>
    <div class="fourWidth">
        <div class="benefitHeader addPadding">
            <img class="small-icon" src="../../assets/images/social.svg">
            <div class="header2">Social Events</div>
        </div>
        <div class="header3 smallFont">Make friends and have fun at each of the Society's social events as well as other community service initiatives.</div>
    </div>
    <div class="fourWidth">
        <div class="benefitHeader addPadding">
            <img class="small-icon" src="../../assets/images/difference.svg">
            <div class="header2">Make a Difference</div>
        </div>
        <div class="header3 smallFont">Make a difference in the community and provide your assistance to other members of the student body.</div>
    </div>
    <div class="fourWidth">
        <div class="benefitHeader addPadding">
            <img class="small-icon" src="../../assets/images/skill.svg">
            <div class="header2">Develop Skills</div>
        </div>
        <div class="header3 smallFont">Meet new people, develop leadership skills, and enhance your presentation and communication capabilities by becoming an active participant.</div>
    </div>

</div>



