<div class="section">
        <div class="container">
            <div class="row">
                <div class="title-area">
                    <h2>About</h2>
                    <div class="separator separator-danger">✻</div>
                    <!-- <p class="description">We promise you a new look and more importantly, a new attitude. We build that by getting to know you, your needs and creating the best looking clothes.</p> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-graph1"></i>
                        </div>
                        <h3>Fall 2017 Rush Events</h3>
                        <p class="description">Join Beta Alpha Psi Today! See our events page which highlights our rush week schedule and events!</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-note2"></i>
                        </div>
                        <h3>BAP Review 2017</h3>
                        <p class="description">Read the latest edition of BAP Review, which contains articles about student life, navigating NYC, and current BAP initiatives.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-music"></i>
                        </div>
                        <h3>Meet the Leaders</h3>
                        <p class="description">Learn more about our Executive Board, Committees, and Members by visiting our leaders page. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="section section-our-team-freebie">
        <div class="parallax filter filter-color-black">
            <div class="image" style="background-image:url('assets/img/header-2.jpeg')">
            </div>
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="title-area">
                            <h2>Candidates</h2>
                            <div class="separator separator-danger">✻</div>
                            <p class="description">For those interested in applying, please complete all application steps, which can be found below under Candidate Application Directions. Please stay tuned for more information regarding Fall 2017. Be sure to check out our rush events page!</p>
                        </div>
                    </div>

                    <div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/face_1.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">Silver</h3>
                                                    <p class="small-text"></p>
                                                    <p class="description">
                                                    	8 Community Service Points <br>
                                                    	9 Social Points <br>
                                                    	16 Professional Points
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/face_4.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">Gold</h3>
                                                    <p class="small-text"></p>
                                                    <p class="description">9 Community Service Points <br>
                                                    	10 Social Points <br>
                                                    	18 Professional Points</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/face_3.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">Platinum</h3>
                                                    <p class="small-text"></p>
                                                    <p class="description">11 Community Service Points <br>
                                                    	12 Social Points <br>
                                                    	21 Professional Points</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
