<div class="pageHeader filter-color-black" >
    
        <div class="title-modern">
            About
        </div>
   
</div>
<div class="whiteWrapper">
    <div class="header">
        Welcome to Beta Alpha Psi
    </div>
    <div class="divider"></div>
    <div class="info2">
        We are a national honorary accounting, finance, and information systems society for students who have proven academic excellence in the study of business. Beta Alpha Psi's purpose is to prepare business students to participate in the professional business environment by providing exposure to current accounting and financial issues, technical applications, and professional and social activities. Our goal is to provide for our members the most up-to-date information in the various areas affecting their career. Obtaining such knowledge makes our members more marketable and valuable in the business world.
    </div>
    <br><br>
    <div class="header">
        About the Mu Chapter
    </div>
    <div class="divider"></div>
    <div class="info2">
        Beta Alpha Psi is the premier National Honor Society for Financial Information Professionals open to men and women that have proven their academic excellence. The purpose of the organization is to prepare students to succeed in the professional business environment by providing exposure to key issues in accounting, finance, and information systems. Our members and candidates are provided with the opportunity to mingle with top executives of many firms in a variety of industries as well as to partake in fun and rewarding community service and social activities! <br><br>

        The Mu Chapter's goal is to provide the most current information for our members and candidates with respect to the relevant forces shaping their careers. Obtaining such knowledge makes our members and pledges more marketable and ultimately, a greater value-add to the business world.<br><br>

        The Mu Chapter of Beta Alpha Psi encourages a sense of ethical, moral, and public responsibility. In recognition of the value and rewards of giving back to the community, we are involved in a number of service initiatives.  Complementing these professional activities are our Social Events, which include billiards, laser tag, karaoke, and much more!  Beta Alpha Psi is a national organization, with 296 chapters on college and university campuses with over 300,000 members initiated.
    </div>
</div>
<div class="anotherDiv">
    <div class="title-modern">
        Objectives
    </div>
</div>
<div class="whiteWrapper">
    <div class="objectives">
        <div class="obj-col left">
            <div class="obj-col-info">
                <div class="icon">
                    <img src="../../assets/images/obj1.png">
                </div>
                <div>
                    Recognize scholastic and professional excellence in the fields of accounting, finance, and information system.
                </div>
            </div>
            <div class="obj-col-info">
                <div class="icon">
                    <img class="photo-icon" src="../../assets/images/obj1.png">
                </div>
                <div>
                    Recognize scholastic and professional excellence in the fields of accounting, finance, and information system.
                </div>
            </div>
            <div class="obj-col-info">
                <div class="icon">
                    <img class="photo-icon" src="../../assets/images/obj1.png">
                </div>
                <div>
                    Recognize scholastic and professional excellence in the fields of accounting, finance, and information system.
                </div>
            </div>
        </div>
        <div class="obj-col">
            <div class="obj-col-info">
                <div class="icon">
                    <img src="../../assets/images/obj1.png">
                </div>
                <div>
                    Recognize scholastic and professional excellence in the fields of accounting, finance, and information system.
                </div>
            </div>
            <div class="obj-col-info">
                <div class="icon">
                    <img class="photo-icon" src="../../assets/images/obj1.png">
                </div>
                <div>
                    Recognize scholastic and professional excellence in the fields of accounting, finance, and information system.
                </div>
            </div>
            <div class="obj-col-info">
                <div class="icon">
                    <img class="photo-icon" src="../../assets/images/obj1.png">
                </div>
                <div>
                    Recognize scholastic and professional excellence in the fields of accounting, finance, and information system.
                </div>
            </div>
        </div>
    </div>
</div>
<section id="box">
    <img src="../../assets/images/wsp.jpg" [style.transform]="bgPos">
    <div>
        <h2>The Hobbit: Part 1</h2>
        <p>The Hobbit is an upcoing film series consisting of three epic fantasy-adventure films directed, co-written and produced by Peter Jackson and based on JRR TOlkien's fantasy novel The Hobbit.</p>
        <h3>Plot</h3>
        <p>
            Bilbo Baggisn is swept into a quest to reclaim the lopst Dwarf Kingdom of Erebor from the fearsom dragon Smaug. Approached out of the blue by the wizard Gandalf the Grey, Bilbo finds himself joining a company of thireteen dwarves led by the legendary warrior, Thorin Oakenshield. Their journey will take them into the Wilkd; through treacherous lands swarming with Goblins and Orcs, deadly Wargs and Giant Spiders.
        </p>
    </div>
</section>

<!-- <div class="containerDiv">
    <div class="overlay">
    </div>
    <img src="../../assets/images/wsp.jpg">
</div> -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>here<br><br><br><br><br><br>