<nav  class="navbar navbar-fixed-top navbar-default"[ngClass]="{navbarScroll: isScrolled || notHome, 'navbarExpanded': isExpanded}">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand"><img [src]="src" height = "50" width = "50"> BAP NYU</a>
      <button id="menu-toggle" class="navbar-toggle collapsed" (click)="checkExpanded()" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" [ngClass]="{'in': isExpanded}">
      <ul class="nav navbar-nav navbar-right navbar-uppercase"  (click)="checkExpanded()">
        <li>
          <a routerLink = "about">About</a>
        </li>
        <li>
          <a routerLink = "events">Events</a>
        </li>
        <li>
          <a routerLink = "candidates">Candidates</a>
        </li>
        <li>
          <a routerLink = "leaders">Leaders</a>
        </li>
        <li>
          <a routerLink = "alumni">Alumni</a>
        </li>
        <li>
          <a routerLink = "vita">VITA</a>
        </li>
        <li>
          <a routerLink = "contact">Contact</a>
        </li>
      </ul>

    </div>
  </div>
</nav>



 

<div [ngClass] ="{routerOutlet: notHome}">
  <router-outlet></router-outlet>
</div>



