/*navbar All*/
.container {
	padding-left: 0px;
	padding-right: 0px;
	font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*font-family: Raleway, sans-serif;
*/}

.navbar .navbar-brand {
  font-size: 22px;
  letter-spacing: 1px;
  padding-top: 0px;
  font-family: Raleway, sans-serif;

}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
    color: rgb(181,32,36);
}

.navbar-brand > img {
	display: inline;
}

.routerOutlet {
	/*padding-top: 70px;*/
	animation: fadein 2s;
}
/*navbar default*/
.navbar-default {
	background-color: transparent;
	transition: background-color .5s ease-out;
	padding: 10px;
	border-color: transparent;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: bold;
}

/*navbar Scroll*/
.navbarScroll {
	border-color: rgba(204, 204, 204, 0.33) !important;
	background-color: white !important;
	border-width: 0 0 1px !important;
	box-shadow: 0px 1px 7px #777;
}

.navbarScroll .navbar-brand, .navbarScroll .navbar-nav > li > a {
    color: #333;
}


/*navbar collapsed all*/
.navbarExpanded .navbar-nav > li > a {
	color: black;
}

.navbarExpanded .navbar-brand {
	color: white;
}
.navbarExpanded .navbar-collapse {
	border: none;
	background-color: white !important;
	
	padding-top: 0px;
	animation: fadein 1s;
}

.navbar-collapse{
	box-shadow: none;
	text-align: center;
}

.navbarExpanded .navbar-header {
	padding-bottom: 10px;
}

.navbarExpanded {
	background-color: rgb(181,32,36) !important;
}


/* toggle button*/
.navbar-default .navbar-toggle:hover .icon-bar { 
	background-color: black;
}

.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
.navbar-default .navbar-toggle {
	border-color: white;
}
.navbarScroll .navbar-toggle {
	border-color: black;
}

.navbar-default .navbar-toggle .icon-bar { 
	background-color: white;
}
.navbarScroll .navbar-toggle .icon-bar {
	background-color: black;
}

/*toggle expanded*/
.navbarExpanded .navbar-toggle {
	border-color: white;
}
.navbar-default .navbar-toggle:hover{
	background-color: white;
}
.navbarExpanded .navbar-toggle .icon-bar { 
	background: white;
}

.active{
	color: rgb(181,32,36) !important;
}








