p {
	animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
	background-color: rgb(161,36,32);
}

iframe {
  padding-right: 100px;
}
.threeCols {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  flex-wrap: wrap;
  width: 100%;
}


.calendarWrapper {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  background: white;
  align-items: center;
  padding-left: 7vw;
  padding-right: 2vw;
  padding-bottom: 50px;

}

.mv-daynames-table {
  color: yellow;
}
