<div class="wrapperzz">
	<img src="../../assets/images/stern.jpg" [style.top]="end1">
	<div class="first-inner">About</div>
</div>
<div class="another">
	another div yay!!<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>another div<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div class="wrapper2">
	<img src="../../assets/images/wsp.jpg" [style.top]="end2">
	<div class="first-inner">Objectives</div>
</div>

<div class="another">
	another div yay!!<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>another div<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>