<div class="parallax half">
	<div #test class="bgDiv half" >
		<img class="half-img" src="../../assets/images/stern.jpg" [style.bottom]="bottom1">
	</div>
	<div class="text">
			About
	</div>
</div>

<div class = "normal2">
	text
</div>


<div class="parallax full" >
	<div #test2 class="bgDiv full" >
		<img class="full-img" src="../../assets/images/wsp.jpg" [style.bottom]="bottom2">
	</div>
	<div class="text">
			More
	</div>
</div>

<div class = "normal2">
	text <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>