<!--  <div class="form-container"> -->
<!-- <div class=whiteWrapper>
  <img src="assets/images/mail.png" id="lock"> 

    <span class="error" *ngIf="error">{{ error }}</span> -->

 <!--  <button class="login-button" (click)="loginFb()" id="fb">Login With Facebook</button><br> -->
 <!-- ***<button class="login-button"(click)="loginGoogle()" id="google">Login With Google</button> -->
<!--     <p class="centerText">Features coming soon!</p>
  <button class="login-button" id="google">Login With Google</button> -->
<!--  ***<button class="login-button" id="email">Email</button> -->
  <!-- <button class="login-button" routerLink="/login-email" id="email">Email</button> -->

 <!--  <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a> -->
<!-- </div> -->

<div class="grayWrapper">
	<div class="header">
		BAP Herald Subscription Form
	</div>
	<div class="divider"></div>
</div> 

<div class="center">

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdZ0J1dn1jnjLS2FG86IdNl1MKJn7iLKfExB5czfvQnpxtynw/viewform?embedded=true" width="100%" height="300" frameborder="0" align="center" scrolling="auto">Loading...</iframe>

</div>
