<div class="form-container">
  <img src="assets/images/lock.svg" id="lock">

    <span class="error" *ngIf="error">{{ error }}</span>

 <!--  <button class="login-button" (click)="loginFb()" id="fb">Login With Facebook</button><br> -->
  <!-- <button class="login-button"(click)="loginGoogle()" id="google">Login With Google</button> -->
    <p class="centerText">Features coming soon!</p>
  <button class="login-button" id="google">Login With Google</button>
  <button class="login-button" id="email">Email</button>
  <!-- <button class="login-button" routerLink="/login-email" id="email">Email</button> -->

 <!--  <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a> -->
</div>