.center {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  background: white;
  align-items: center;
  padding-left: 7vw;
  padding-right: 2vw;
  padding-bottom: 50px;
}

#lock {
    width:100px;
    margin: 1.5em auto 4em auto;
    display:block;
}

#fb {
    background:#3B5998 url('../../assets/images/facebook.svg') no-repeat 14px 6px;
    background-size: 47px;
    color:#fff;
}

#google {
    border: 1px solid #95989A;
    background: #fff  url('../../assets/images/google.svg') no-repeat 25px;
    background-size: 25px;
}

#email {
    background: rgb(181,32,36) url('../../assets/images/mail.svg') no-repeat 25px;
    background-size: 25px;
    color: white;
}

@media (max-width: 768px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }
    #fb {
        background:#3B5998;
    }
}