<div class="grayWrapper">
	<div class="header">
		CANDIDATE REQUIREMENTS
	</div>
	<div class="divider"></div>
	<div class="info">
		In order to apply for membership, candidates must have at least a 3.50 overall GPA, be of Sophomore standing (> 32 credits) and also plan to major in Accounting, Finance and/or Information Systems. Candidates must complete an application, which can be found under the Candidates Application Links section. A resume must be submitted with ALL applications. <br><br>
		To be initiated as a member, candidates must complete all requirements as outlined on the Candidate Application and in the Beta Alpha Psi Bulletin. Below is a list of the Professional, Social and Community Service points that must be fulfilled by all candidates:
	</div>
</div>
<div class="whiteWrapper">
	<div class="threeCols">
		<div class="leftCol">
			<div><img class="photo" src="../../assets/images/professional2.jpg"></div>
			<div class="header2">Professional Events</div>
			<div class="header3">Points Required: 16</div>
			<div class="info2">
				Each Professional Speaker Event is worth 1 point, unless stated otherwise. Workshops are also worth 1 point. Each Corporate Mingle is worth 2 points.
			</div>
		</div>
		<div class="leftCol">
			<div><img class="photo" src="../../assets/images/social.jpg"></div>
			<div class="header2">Social Events</div>
			<div class="header3">Points Required: 9</div>
			<div class="info2">
				Each Social Event is worth 1 point. Going to tutoring hours is 1/2 point - there is a cap of 1 point.
			</div>
		</div>
		<div class="rightCol">
			<div><img class="photo" src="../../assets/images/community.jpg"></div>
			<div class="header2">Community Service</div>
			<div class="header3">Hours Required: 8</div>
			<div class="info2">
				Community Service hours will be awarded according to real hours at each Community Service Event.
			</div>
		</div>
	</div>
</div>

<div class="grayWrapper">
	<div class="header">
		REQUIREMENTS BY MEMBER STATUS
	</div>
	<div class="divider"></div>
	<div class="threeCols">
		<div class="leftCol">
			<div class="header2">Candidate</div>
			<div class="info2">
				8 &nbsp; Community Service Points<br>
				9 &nbsp;Social Points <br>
				16 &nbsp;Professional Points
			</div>			
		</div>
		<div class="leftCol">			
			<div class="header2">Gold</div>
			<div class="info2">
				9 &nbsp;Community Service Points<br>
				10 &nbsp;Social Points <br>
				18 &nbsp;Professional Points
			</div>
		</div>
		<div class="rightCol">
			<div class="header2">Platinum</div>
			<div class="info2">
				11 Community Service Points<br>
				12 Social Points <br>
				21 Professional Points
			</div>
		</div>
	</div>
</div>

<div class="whiteWrapper">
	<div class="header">
		Candidate Application Links
	</div>
	<div class="divider"></div>
	<div class="threeCols">
		<div class="leftCol">
			<div class="header2">Freshman Mentorship Program</div>
			<button class="redButton" (click)="redirect()">Apply</button>
			
		</div>
		<div class="leftCol">			
			<div class="header2">Sophomore or Junior Candidates</div>
			<button class="redButton" (click)="redirect()">Apply</button>			
		</div>
		<div class="rightCol">
			<div class="header2">Candidates and Members Login</div>
			<button class="redButton">Login</button>
		</div>
	</div>
</div>
