<div class="grayWrapper">
	<div class="header">
		WELCOME (NAME)
	</div>
	<div class="info">
		
	</div>
</div>
<div class="whiteWrapper">
	<div class="threeCols">
		<div class="leftCol">
			<div><img class="photo" src="../../assets/images/Professionallogo.png"></div>
			<div class="header2">Professional Points</div>
			<div class="header3">You currently have (#) Professional Points</div>
			<div class="info2">
				 Checkout the professional events and which ones you have attended
			</div>

					<button onclick="myFunction()">Professional Events</button>
					<div id="myDIV">
					Event 1<br>
					Event 2
					</div>


		</div>
		<div class="leftCol">
			<div><img class="photo" src="../../assets/images/Social.png"></div>
			<div class="header2">Social Points</div>
			<div class="header3">You currently have (#) Social Points</div>
			<div class="info2">
				 Checkout the Social events and which ones you have attended
			</div>
		</div>



		<div class="rightCol">
			<div><img class="photo" src="../../assets/images/Volunteer.png"></div>
			<div class="header2">Community Service Points</div>
			<div class="header3">You currently have (#) Social Points</div>
			<div class="info2">
				Checkout the community service events and which ones you have attended
			</div>
		</div>
	</div>
</div>