<div class="grayWrapper">
	<div class="header">
		Who We Are
	</div>
	<div class="divider"></div>
	<div class="info">
		VITA (Volunteer Income Tax Assistance) is a program that allows IRS-certified volunteers provide free basic income tax return preparation for low-income individuals. Low-income individuals are those who make approximately $54,000 or less.
	</div>
</div>

<div class="whiteWrapper">
	<div class="threeCols">
		<div class="leftCol">
			<div><img class="photo2" src="../../assets/images/pin.svg"></div>
			<div class="header2 center">Location</div>
			<div class="info2">
				NYU Stern School of Business<br>
				40 West 4th St, Lower Concourse<br>
				New York, NY 10012<br><br>
				(Please remember to bring a valid photo ID in order to sign in with NYU security!)
			</div>
		</div>
		<div class="leftCol">
			<div><img class="photo2" src="../../assets/images/time.svg"></div>
			<div class="header2 center">Hours of Operation</div>
			<div class="info2">
				<b>February 4th - April 5th<br>
				Mon - Fri: 11:00am - 4:30pm</b><br>
				<i>Closed February 18 for President’s Day and March 18 - 22 for Spring Break.</i><br>
			</div>
		</div>
		<div class="rightCol">
			<div><img class="photo2" src="../../assets/images/call.svg"></div>
			<div class="header2 center">Contact</div>
			<div class="info2">
				<b>Phone Number:</b> (646) 598-4820<br>
				<b>Email:</b> bap.vita.committee@gmail.com<br><br>
				<b>To Schedule an Appointment:</b>
				Please visit <a href="http://nyuvita.setmore.com/">here</a> to set up an appointment.
				<br>Please schedule your appointments at least 2 business days in advance.
			</div>
		</div>
	</div>
</div>

<div class="grayWrapper">
	<div class="header">
		References
	</div>
	<div class="divider"></div>
	<div class="info2">
		<a href="https://www.irs.gov/Individuals/Free-Tax-Return-Preparation-for-You-by-Volunteers">IRS VITA</a><br>
		<a href="https://www.irs.gov/Individuals/Checklist-for-Free-Tax-Return-Preparation">Required Items</a>
		<br><br>
		Valid Proof of identification (photo ID)<br>
		Social Security cards for you, your spouse and dependents
		An Individual Taxpayer Identification Number (ITIN) assignment letter may be substituted for you, your spouse and your dependents if you do not have a Social Security number
		Birth dates for you, your spouse and dependents on the tax return<br><br>
		Wage and earning statements (Form W-2, W-2G, 1099-R,1099-Misc) from all employers
		Interest and dividend statements from banks (Forms 1099)
		Proof of bank account routing and account numbers for direct deposit such as a blank check<br>
		To file taxes electronically on a married-filing-joint tax return, both spouses must be present to sign the required forms possible.
	</div>
</div>

<div class="whiteWrapper">
	<div class="header">
		Disclaimers
	</div>
	<div class="divider"></div>
	<div class="info2">
		We strive to maintain the quality and integrity of our services and the content of this website. Because of the dynamic nature of the internet and of tax law, however, NYU VITA and affiliated persons give no warranty, expressed or implied, to the accuracy, reliability, relevance, or completeness of information or service provided.<br><br>
		None of the volunteers, officers, college officials, sponsors, and anyone else connected to NYU VITA can be held liable for your use of any information in this website or from services provided. Use any kind of service, advice, or material from NYU VITA at your own risk. No actions of NYU VITA volunteers constitute tax or legal advice.<br><br>
		<i>(NYU VITA encourages the use of professional services by certified public accountants or paid tax preparers whenever possible.)</i>
	</div>
</div>

