
<div class="parallax full">
    <div #bgDiv1 class="bgDiv full" >
        <img class="full-img" src="../../assets/images/stern.jpg" [style.bottom]="bottom1">
    </div>
    <div class="text text-header" [style.opacity]="opacity1">
		<div class = "content">
			<div class = "title-area">
				 
				<div class="title-modern">Beta Alpha Psi</div>
				<div class="subtitle">Finance and Accounting Honor Society</div>
				<div class="separator">
					<div class="arrow arrow-right"></div>
					<div class="separator-line" [style.width]="lineWidth"></div> 
					<div class="star">♦</div> 
					<div class="separator-line" [style.width]="lineWidth"></div> 
					<div class="arrow arrow-left"></div>
				</div>
				<div class="button-area">
					<button class="white-button left-button" (click)="scrollDown()">Learn more</button>
					
				</div>
				
			</div>
		</div>
    </div>
</div>



<div #about class="whiteWrapper">
	<div class="header">
		About
	</div>
	<div class="divider"></div>
	<div class="threeCols">

		<div class="leftCol">
			<div><a href="/candidates"><img class="photo" src="../../assets/images/about1.jpg"></a></div>
			<div class="header2">Spring 2019 NEW MEMBER RECRUITMENT</div>
			<div class="info2">
				Join Beta Alpha Psi Today! See our events page which highlights our rush week schedule and events!
			</div>
		</div>
		<div class="leftCol">
			<div><a href="https://issuu.com/bapreview/docs/the_bap_review__finalversion_" target="_blank"><img class="photo" src="../../assets/images/bapreview.jpg"></a></div>
			<div class="header2">Bap Review 2018</div>
			<div class="info2">
				Read the latest edition of BAP Review, which contains articles about student life, navigating NYC, and current BAP initiatives.
			</div>
		</div>
		<div class="rightCol">
			<div><a href="/leaders"><img class="photo" src="../../assets/images/meetLeaders.png"></a></div>
			<div class="header2">Meet the Leaders</div>
			<div class="info2">
				Learn more about our Executive Board, Committees, and Members by visiting our leaders page. 
			</div>
		</div>
	</div>
</div>


<div class="parallax half" >
    <div #bgDiv2 class="bgDiv half" >
        <img class="half-img" src="../../assets/images/wsp.jpg" [style.bottom]="bottom2">
    </div>
    <div class="text2" [style.opacity]="opacity2">
            Spring 2019 Recruitment
    </div>
</div>

<div class="whiteWrapper">
	<div class="header">
		BAP Spring 2019 Kick Off Video
	</div>
	<div class="divider"></div>
	<iframe id="video" src="https://www.youtube.com/embed/itIwcoFoNbE" frameborder="0" allowfullscreen></iframe>
	<!-- <div class="threeCols" id="about">

		<div class="leftCol">
			<div><img class="photo" src="../../assets/images/about1.jpg"></div>
			<div class="header2">SPRING 2017 RUSH EVENTS</div>
			<div class="info2">
				Join Beta Alpha Psi Today! See our events page which highlights our rush week schedule and events!
			</div>
		</div>
		<div class="leftCol">
			<div><img class="photo" src="../../assets/images/bapreview.jpg"></div>
			<div class="header2">Bap Review 2017</div>
			<div class="info2">
				Read the latest edition of BAP Review, which contains articles about student life, navigating NYC, and current BAP initiatives.
			</div>
		</div>
		<div class="rightCol">
			<div><img class="photo" src="../../assets/images/meetLeaders.png"></div>
			<div class="header2">Meet the Leaders</div>
			<div class="info2">
				Learn more about our Executive Board, Committees, and Members by visiting our leaders page. 
			</div>
		</div>
	</div> -->
</div>
