@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(105%);
  }
  100% {
    transform: translateY(0);
  }
}

.text-header{
  top: 35% !important;
}

.subtitle {
  font-family: Raleway,sans-serif;
  font-size: 24px;
}
.title-area{
	color: #FFFFFF;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	/*text-align: center;*/
	max-width: 760px;
	margin: 0 auto 70px;
	padding: 0 15px;
	
}

.title-modern {
  font-family: Poppins,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 70px;
  font-weight: 400;
  color: #EEE;
  text-shadow: 2px 2px #333;
  
  animation: fadein 1s;
  animation: slideInFromBottom 1s;
 /* text-transform: uppercase;*/
  letter-spacing: 0.015em;
  line-height: 1em;
  font-style: normal;
}

h3{
  font-size: 1.61em;
  line-height: 1.05em;
  margin-top: 15px;
  margin-bottom: 15px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Cambo", "Times New Roman", serif;
  animation: fadein 1s;
  animation: slideInFromBottom 1s;
}

.button-area{
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-button{
  height: 24px;
  text-transform: uppercase;
  border: 2px solid #333;
  border-color: white;
  border-radius: 3px;
  padding: 0 32px;
  font-size: 17px;
  letter-spacing: 2px;
  height: 52px;
  line-height: 52px;
  margin-top: 15px;

}

.white-button:hover{
  background: white ;
  color: #333;
  animation: fadein 1s;
}

.left-button{
  margin-right: 10px;
}


.separator{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow{
  margin-top: 1px;
  font-size: 12px;
}
.arrow-right{
  margin-right: -5px;
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid white;
  margin-bottom: 2px;
}
.arrow-left{
  margin-left: -5px;
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid white;
  margin-bottom: 2px;
}
.separator-line {
  width: 20vw;
  border: 1px solid white;
  height: 0px;
}

.star{
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  margin-top: -1px;
  margin-left: 2%;
  margin-right: 2%;
}
