<div class="parallax filter-color-black" >
	<div class="image" style="background-image: url(../../assets/images/nyc.jpg)"></div>
	<div class ="container">
		<div class = "content">
			<div class = "title-area">
				<h1 class="title-modern">Beta Alpha Psi</h1>
				<h3>Finance and Accounting Honor Society</h3>
				<div class="separator line-separator">♦</div>
				<
			</div>
		</div>
	</div>

</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>text here<br><br><br><br><br>
	
<!-- 
 <div class="section section-header">
    <div class="parallax filter filter-color-black">
        <div class="image"
            style="background-image: url('../../assets/images/nyc.jpg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                   
                    <h1 class="title-modern">NYU STERN | Mu Chapter</h1>
                    <h3>Finance and Accounting Honor Society</h3>
                    <div class="separator line-separator">♦</div>
                </div>
                

            </div>

        </div>
    </div>
</div> -->

    