<div class="grayWrapper">
  <div class="header center">
    Leaders
  </div>
  <div class="divider"></div>
</div>

<div class="whiteWrapper">
  <div class="header4 center lineBreak">Eboard</div>
  <div class="cols">
    <div class="leftCol five">
      <div class="img__wrap">
        <img class="photo" src="../../assets/images/profile/Alex.jpg">
        <!-- <div class="img__description_layer">
           <p class="img__description">Alex is a senior.</p> 
        </div> -->
      </div>
      <div class="header3 center">Alex Yu</div>
      <div class="header3 center"><b>President</b></div><br>
    </div>
    <div class="leftCol five">
      <div class="img__wrap">
        <img class="photo" src="../../assets/images/profile/Jennifer.jpg">
        <!-- <div class="img__description_layer">
          <p class="img__description">Jennifer is a senior.</p> 
        </div> -->
      </div>
      <div class="header3 center">Jennifer Chan</div>
      <div class="header3 center"><b>Vice President</b></div><br>
    </div>
    <div class="leftCol five">
      <div class="img__wrap">
        <img class="photo" src="../../assets/images/profile/Megan.jpg">
        <!-- <div class="img__description_layer">
           <p class="img__description">Vinny is a senior.</p> 
        </div> -->
      </div>
      <div class="header3 center">Megan Lee</div>
      <div class="header3 center centerText"><b>Director of Correspondence</b></div><br>
    </div>
    <!-- <div class="leftCol five">
      <div class="img__wrap">
        <img class="photo" src="../../assets/images/profile/Michelle.jpg">
        <div class="img__description_layer">
          <p class="img__description">Michelle Xie is a Senior studying Finance and Accounting. She is originally from Montville, New Jersey. In her free time, she enjoys long-distance running, hiking, cooking, and finding places to eat in the city. During her past summer, she worked interned at PwC in core assurance. </p>
        </div>
      </div>
      <div class="header3 center">Michelle Xie</div>
      <div class="header3 center"><b>Director of Reporting</b></div><br>
    </div> -->
    <div class="rightCol five rightCol">
      <div class="img__wrap">
        <img class="photo" src="../../assets/images/profile/Jennifer .jpg">
        <!-- <div class="img__description_layer">
           <p class="img__description">Jennifer is a senior.</p> 
        </div> -->
      </div>
      <div class="header3 center">Jennifer Kim</div>
      <div class="header3 center"><b>Treasurer</b></div>
    </div>
  </div>
</div>

<!-- <div class = "filterWrapper"> 
  <div class="header2 filterLabel font22 centerText">Display Committees By: </div>
    <div class="">
    <select class="form-control" 
      [value]="pipeFilter" 
      (input)="pipeFilter = $event.target.value">
    
        <option value="">All Committees</option>
        <option value="1">Candidate Master</option>
        <option value="2">Community Service</option>
        <option value="3">Consulting Workshop</option>
        <option value="4">IBD Workshop</option>
        <option value="5">Marketing</option>
        <option value="6">Mentoring</option>
        <option value="7">Publications</option>
        <option value="8">Social Events</option>
        <option value="9">Speaker Events</option>
        <option value="10">Special Events</option>
        <option value="11">Technology</option>
        <option value="12">Tutoring</option>
        <option value="13">VITA</option>
        <option value="14">Workshop</option>
    </select>
    </div>
</div> -->

<div class = "filterWrapper"> 
  <div class="header2 filterLabel font22 centerText">Committees</div>
</div>

<div class="graySection">

   <div class = "four" *ngFor="let data of pipeFilterData | myfilter: pipeFilter">
      <!-- <div class="header3 centerText" (click)="isVisible = !isVisible;" [ngClass]="{'hover': isVisible }"> -->
      <div class="header3 centerText">
        <div class="img__wrap">
          <img class="picture" src="../../assets/images/profile/{{data.firstName}}.jpg" />
          <!--<div class="img__description_layer">
            <p class="img__description">{{data.bio}}</p>
          </div> -->
        </div>
        {{data.firstName}} {{data.lastName}} <br><b>{{data.position}}</b><br>

     </div>
    <!--   <div><img class="photo round" src="../../assets/images/blank_profile.png"></div> -->
    
  </div>
</div>
