select {
	height: 4.4rem !important;
	width: 200px;
}

.filterWrapper {
	padding-left: 7vw;
	padding-right: 7vw;
	padding-top: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.header4{
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 600;
  font-color: black;
}

.font22{
	font-size: 22px;
}

.filterLabel {
	padding-right: 20px;
	color: rgb(181,32,36);
}

.headingColor {
	color: rgb(181,32,36) !important;
}
.img__wrap {
  position: relative;
  height: 15vw;
  width: 15vw;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(161, 32, 36, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 12px;
  overflow: scroll;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}



.picture {
	width: 15vw;
}

.bio {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}



.pictureWrapper:hover .bio {
  visibility: visible;
  opacity: 1;
}

.cols {
	display: flex;
	flex-direction: row;
	align-items: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.four {
	width: 15vw;
	/*border: 1px solid black;*/
	margin-bottom: 20px;
}

.five {
	width: 18%;
	margin-right: 2.5%;
}

.rightCol{
	margin-right: 0;
}
.lineBreak {
	margin-bottom: 25px;
}

.graySection{
	display: flex;
	flex-direction: row;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(245,245,245);
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    vertical-align: middle;
}

.noPaddingBottom{
	padding-bottom: 0px !important;
}

.inline {
	display: inline !important;
}

.grayCarousel{
    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 1vw;
    background: rgb(245,245,245);
}

@media (max-width: 768px){
	.cols {
		flex-direction: column;
	}
	.five {
		width: 100%;
	}
	.four {
		width: 100%;
	}
	.picture {
		width: 100%;
	}

	.img__wrap {
	  height: 100%;
	  width: 100%;
	}
	.img__description_layer{
		align-items: center;
	}
}


