<div class="grayWrapper">
	<div class="header">
		WELCOME (NAME)
	</div>
	<div class="info">
		
	</div>
</div>
<div class="whiteWrapper">
	<div class="threeCols">
		<div class="leftCol">
			<div><img class="photo" src="../../assets/images/Professionallogo.png"></div>
			<div class="header2">Upcomming Events</div>
			<div class="header3">Check out the upcomming professional and volunteering events</div>
			<div class="info2">
				 
			</div>
		</div>
		<div class="leftCol">
			<div><img class="photo" src="../../assets/images/Points.png"></div>
			<div class="header2">Your current points</div>
			<div class="header3">See your current candidate status</div>
			<div class="info2">
				 
			</div>
		</div>
		<div class="rightCol">
			<div><img class="photo" src="../../assets/images/Volunteer.png"></div>
			<div class="header2">Community Service</div>
			<div class="header3">Sign up for community service events</div>
			<div class="info2">
				
			</div>
		</div>
	</div>
</div>

<div class="grayWrapper">
	<div class="header">
		Talk to the E-board
	</div>
	<div class="threeCols">
		<div class="leftCol">
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdzy5uBYvmU7_wjjhPIMpWNsMM7YPNURRG8a-EZCbgUUzI3Pw/viewform?embedded=true" width="900" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		</div>
		
	
	</div>
</div>
