


<div class="grayWrapper">
	<div class="header">
		WELCOME, (NAME)
	</div>
	<div class="info">
		
	</div>
</div>
<div class="whiteWrapper">
	<div class="threeCols">
		<div class="leftCol">
			<div class="pointsnumber">12</div>
			<div class="header2">Professional Points</div>
			<br>

            <button type="button" class="hbutton"
                (click)="HiddenPE = !HiddenPE">Click here to see events
            </button>
            <div [hidden]="HiddenPE" class="PE">
                 <div class="ProfEvent">
                  <b>*Attended Events</b><br>
                   Aug 1, 2017 - Event 1<br>
                   Aug 2, 2017 - Event 2<br>
                   Aug 3, 2017 - Event 3<br>
                   Aug 4, 2017 - Event 4<br>
                   Aug 5, 2017 - Event 5<br>
                   
                 </div> <br><br>
                 <div class="ProfEvent">
                  <b>*Unattended Events</b><br>
                   Aug 6, 2017 - Event 6<br>
                   Aug 7, 2017 - Event 7<br>
                   Aug 8, 2017 - Event 8<br>
                   Aug 9, 2017 - Event 9<br>
                   Aug 10, 2017 - Event 10<br>
                   
                 </div>
           	</div>


		</div>
		<div class="leftCol">
			<div class="pointsnumber">8</div>
			<div class="header2">Social Points</div>
			<br>

            <button type="button" class="hbutton"
                (click)="HiddenSE = !HiddenSE">Click here to see events
            </button>
            <div [hidden]="HiddenSE" class="SE">
                 <div class="SocEvent">
                 *Bolded are events you have attended<br>
                   Aug 1, 2017 - Event 1<br>
                   Aug 2, 2017 - Event 2<br>
                   Aug 3, 2017 - Event 3<br>
                   Aug 4, 2017 - Event 4<br>
                   Aug 5, 2017 - Event 5
                 </div>
           	</div>
		</div>



		<div class="rightCol">
			<div class="pointsnumber">9</div>
			<div class="header2">Community Service Points</div>
			<br>

            <button type="button" class="hbutton"
                (click)="HiddenCS = !HiddenCS">Click here to see events
            </button>
            <div [hidden]="HiddenCS" class="CS">
                 <div class="SocEvent">
                 *Bolded are events you have attended<br>
                   Aug 1, 2017 - Event 1<br>
                   Aug 2, 2017 - Event 2<br>
                   Aug 3, 2017 - Event 3<br>
                   Aug 4, 2017 - Event 4<br>
                   Aug 5, 2017 - Event 5
                 </div>
           	</div>
		</div>
	</div>
</div>

